extends layout

block content

	div(style="height:200px")

	.container
		button(
			type="button",
			class="sn-btn",
			href="/popup_menu_mobile.html",
			data-fancybox="",
			data-type="ajax",
			data-touch="false"
		) Мобильное меню

		div(style="height:50px")

		button(
			type="button",
			class="sn-btn",
			href="/popup_callback_msg.html",
			data-fancybox="",
			data-type="ajax",
			data-touch="false"
		) Выберите способ связи

		div(style="height:50px")

		button(
			type="button",
			class="sn-btn",
			href="/popup_callback_contact.html",
			data-fancybox="",
			data-type="ajax",
			data-touch="false"
		) Оставьте номер вашего телефона, и наш менеджер свяжется с вами.

		div(style="height:50px")

		button(
			type="button",
			class="sn-btn",
			href="/popup_cancel_conditions.html",
			data-fancybox="",
			data-type="ajax",
			data-touch="false"
		) Условия отмены

		div(style="height:50px")

		button(
			type="button",
			class="sn-btn",
			href="/popup_route_terms.html",
			data-fancybox="",
			data-type="ajax",
			data-touch="false"
		) Старт и финиш
