.sn-footer
	.container.container-custom.container-sn
		.sn-footer__top
			a(href="//strahu-net.com/").sn-footer__logo
				img._lazy(data-src='img/logo.svg' alt='ELBRUS CLIMBING' src="img/px.png").logo_desktop
			.sn-footer__company ELBRUS CLIMBING LLP<br> LONDON, UK
			.sn-footer__ratings.sn-footer-ratings
				a(
					href="javascript:void(0);"
					title="Смотреть отзывы на Tripadvisor"
				).sn-footer-ratings__item
					img._lazy(data-src="img/sn-footer-tripadvisor.svg" alt="tripadvisor ratings" src="img/px.png").sn-footer-ratings__icon.sn-rate-icon.sn-rate-icon__tripadvisor
					span.sn-footer-ratings__score 4.4
					span.sn-footer-ratings__stars
						span.sn-rate-star
						span.sn-rate-star
						span.sn-rate-star
						span.sn-rate-star
						span.sn-rate-star.sn-rate-star__half
					span.sn-footer-ratings__count (<span class="count">123</span>)
				a(
					href="javascript:void(0);"
					title="Смотреть отзывы на картах Google"
				).sn-footer-ratings__item
					img._lazy(data-src="img/sn-footer-google.svg" alt="google ratings" src="img/px.png").sn-footer-ratings__icon.sn-rate-icon.sn-rate-icon__google
					span.sn-footer-ratings__score 4.4
					span.sn-footer-ratings__stars
						span.sn-rate-star
						span.sn-rate-star
						span.sn-rate-star
						span.sn-rate-star
						span.sn-rate-star.sn-rate-star__half
					span.sn-footer-ratings__count (<span class="count">123</span>)
				a(
					href="https://yandex.by/maps/org/strakhu_net/127838508707/reviews/?ll=37.471605%2C55.870133&z=16.71"
					target="_blank" 
					data-sn-rating="yandex"
					title="Смотреть отзывы на картах Яндекс"
				).sn-footer-ratings__item
					img._lazy(data-src="img/sn-footer-ya.svg" alt="yandex ratings" src="img/px.png").sn-footer-ratings__icon.sn-rate-icon.sn-rate-icon__ya
					span.sn-footer-ratings__score.score X.X
					span.sn-footer-ratings__stars.stars
						span.sn-rate-star
						span.sn-rate-star
						span.sn-rate-star.sn-rate-star--half
						span.sn-rate-star.sn-rate-star--empty
						span.sn-rate-star.sn-rate-star--empty
					span.sn-footer-ratings__count (<span class="count">???</span>)

			.sn-footer__selectors
				.sn-menu-select.--default.js-sn-menu-select.sn-footer__currency-selector(data-body-class="sn-menu-select")
					select
						option(value="222") RUB
						option(selected, value="222") USD
				.sn-menu-select.--default.js-sn-menu-select.sn-footer__lang-selector(data-body-class="sn-menu-select")
					select
						option RU
						option EN

				a(href="/popup_callback_msg.html" data-fancybox data-type="ajax" data-touch="false").sn-tag.tour-elegant-tag Мы на связи

		.sn-footer__bottom
			.sn-footer__paysystems
				img._lazy(data-src="img/sn-ps-visa.svg" src="img/px.png" alt="")
				img._lazy(data-src="img/sn-ps-mc.svg" src="img/px.png" alt="")
				img._lazy(data-src="img/sn-ps-paypal.svg" src="img/px.png" alt="")
				img._lazy(data-src="img/sn-ps-crypto.svg" src="img/px.png" alt="")
			.sn-footer__socials
				a(href="//www.instagram.com/elbrus/" target="_blank").icon-insta.d-md-none
				a(href="//vk.com/elbrus.voskhozhdenie" target="_blank").icon-vkontakte
				a(href="//www.instagram.com/elbrus/" target="_blank").icon-insta.d-none.d-md-inline-block
			a.sn-footer__policy(href="//strahu-net.com/privacy-policy/" target="_blank") Политика конфиденциальности
